body {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 500;
	color:black;
	background-image: url('https://images.pexels.com/photos/64774/pexels-photo-64774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	overflow-x: hidden;
	transition: all 200ms linear;
	opacity: 0.9;
}


/*--------------------  Navbar --------------------*/
.jumbotron {
	background-color:#373738;
	color:#E9CA00;
}

ul .list-group-item {
	text-decoration: none;
	background-color: #E9CA00;
	color: #373738;
}

ul .list-group-item:hover {
	text-decoration: none;
	color: #909092;
}


/*--------------------  Inputs --------------------*/
input:focus {
	background: rgb(211, 211, 19);
	font-weight: 900;
}

textarea:focus{
	font-weight: 900;
}


/*---------------  Sección busqueda de Usuarios en cards ---------------*/
.container-1{
	vertical-align: middle;
}

.container-1 input#search{
	width: 300px;
	height: 50px;
	background: #2b303b;
	border: none;
	font-size: 16pt;
	color: #63717f;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.container-1 input#search:focus {
	background: rgb(211, 211, 19);
	font-weight: 900;
}

.container-1:focus{
	font-weight: 900;
}


/*---------------  Sección Redes sociales / Footer ---------------*/
.contact a {
	color:#E9CA00;
}

.contact a:hover {
	color:#888;
}

.contact {
	width: 100%;
	margin: 50px 0 50px 0;
	text-align: center;
}

.contact a{
	margin: auto;
	margin-left: 15px;
	font-size: 70px;
	text-decoration: none;
}

footer {
	justify-content: center;
	text-align:center;
	color: rgb(211, 211, 19);
	width:100%;
	background-color:#373738;
	padding:10px 0;
}

footer img {
	margin-bottom: 50px;
}

footer h5 {
	margin-bottom: 30px;
}